/* General styles */
body {
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 30px;
  font-size: 32px;
  color: #fff;
}

h2 {
  font-size: 24px;
  color: #fff;
}

.product {
  margin-top: 40px;
}

.coin, .price {
  color: #fff;
}

.add-to-cart {
  background-color: #808080;
  color: #ffd700;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.add-to-cart:hover {
  opacity: 1;
  background-color: #fff;
  color: #808080;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

nav a {
  color: #ffd700;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
}

section.contact {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
}

section.contact h2.section-title {
  color: #ffd700;
  font-weight: bold;
  font-size: 24px;
}

section.contact form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

section.contact label {
  display: block;
}

section.contact input,
section.contact textarea {
  width: 100%;
  padding: 10px;
}

section.contact button {
  background-color: #808080;
  color: #ffd700;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

section.contact button:hover {
  opacity: 1;
  background-color: #fff;
  color: #808080;
}

section.instagram {
  background-color: #f0f0f0;
  padding: 40px 20px;
  text-align: center;
  margin-top: 20px;
}

section.instagram h2.section-title {
  color: #ffd700;
  font-weight: bold;
  font-size: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}
